<div id="password-setting" class="tab-pane" style="max-width:500px">

	<div id="error-input-box" class="row" style="display:none">
		<div class="col-xs-12">
			<div class="alert alert-warning">
				<table class="inherit-color">
					<tbody>
						<tr>
							<td><i class="icon-lg fa fa-exclamation-triangle"></i></td>
							<td><div class="pad-10"> Invalid input.<br>Check the fields. </div></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>			
	</div>

	<div class="form-group"  ng-class="{'has-error':errors.current_password}">
		<label class="control-label">Current Password</label>
		<input type="password" name="current_password" class="form-control" ng-model="password.current_password">
		<p class="help-block" ng-repeat="error in errors.current_password">{{error}}</p>
	</div>

	<div class="form-group" ng-class="{'has-error':errors.new_password}">
		<label class="control-label">New Password</label>
		<input type="password" name="new_password" class="form-control" ng-model="password.new_password">
		<p class="help-block" ng-repeat="error in errors.new_password">{{error}}</p>
	</div>

	<div class="form-group" ng-class="{'has-error':errors.retype_new_password}">
		<label class="control-label">Retype New Password</label>
		<input type="password" name="retype_new_password" class="form-control" ng-model="password.retype_new_password">
		<p class="help-block" ng-repeat="error in errors.retype_new_password">{{error}}</p>
	</div>

	<div class="btn-action-group">
		<button class="btn btn-primary" ng-click="update()">Update</button>
		<button class="btn btn-default" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> Cancel</button>
	</div>
</div>